---
import type { CollectionEntry } from "astro:content";
import ArrowUpRightIcon from "@/assets/icons/arrow-up-right.svg";
import FramedImage from "@/components/FramedImage.astro";
import { Image } from "astro:assets";

type Props = {
  entry: CollectionEntry<"garden">;
};

const { entry } = Astro.props;

const { title, url, image, type } = entry.data;
const Tag = url ? "a" : "div";
---

<Tag
  class="group bg-card relative flex h-full flex-col overflow-hidden rounded-lg"
  href={url ?? undefined}
  rel={url ? "noopener noreferrer" : undefined}
  target={url ? "_blank" : undefined}
>
  <div class="flex items-center justify-between px-4 pt-2">
    <p class="text-body inline-flex gap-1 py-1.5 text-sm tracking-tight">
      {entry.data.type}
      <span>-</span>
      {title}
    </p>
    {
      url && (
        <div
          class="group-hover:bg-background text-body group-hover:text-heading flex h-8 w-8 items-center justify-center rounded-full transition-colors group-hover:shadow"
          aria-label={title}
        >
          <ArrowUpRightIcon height={18} width={18} />
        </div>
      )
    }
  </div>
  {
    image && type === "project" && (
      <FramedImage
        class="absolute -bottom-3 left-1/2 h-4/5 w-5/6 -translate-x-1/2"
        src={image}
      />
    )
  }
  {
    image && type === "talk" && (
      <FramedImage
        class="absolute -right-3 -bottom-3 h-10/12 w-11/12"
        src={image}
      />
    )
  }
  {
    image && type === "hobby" && (
      <Image
        class="absolute inset-0 h-full w-full rounded-lg transition-all group-hover:mt-12"
        src={image}
        alt={title}
        height="400"
        width="400"
      />
    )
  }
</Tag>
