---
import { Image } from "astro:assets";

type Props = {
  class: string;
  src: string;
  alt: string;
  height: number | `${number}`;
  width: number | `${number}`;
};

const { src, alt, height, width, class: className } = Astro.props;
---

<div
  class:list={[
    "frame shadow-lg shadow-neutral-600 transition-transform group-hover:scale-110 group-hover:rotate-2",
    className,
  ]}
>
  <Image
    class="frame-image h-full w-full object-cover"
    src={src}
    alt={alt}
    width={width}
    height={height}
    loading="eager"
  />
</div>

<style lang="scss">
  .frame {
    border: 6px solid #ddd;
    border-radius: 18px;

    &-image {
      border-radius: 12px;
    }
  }
</style>
